<h2>Mental Goals</h2>
<%# 

category = physical
description = drink water notes: ....
goal.category = physical notes: ....
goal.description = drink water

category = top 5 (limit 5)
description = 1/5 notes: ....
description = 2/5 notes: .... %>


